.search-bar {
  background: rgb(10, 210, 143);
  background: linear-gradient(
    90deg,
    rgba(10, 210, 143, 1) 0%,
    rgba(17, 231, 138, 1) 100%
  );
  display: flex;
  justify-content: center;
  flex: 0.1;

  form {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;

    input {
      color: #2a2a2a;
      border-radius: 16px;
      padding: 10px;
      padding-left: 40px;
      background-color: whitesmoke;
      border: none;
    }

    .search-icon {
      color: #2a2a2a;
      position: relative;
      left: 35px;
      cursor: pointer;
    }
  }
}
